{% extends "base.html" %}
{% block content %}
    <h2>{{ page_title }}</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt augue vel dolor mattis dictum.
        Donec efficitur a leo non rutrum. Morbi id sem ut risus sodales fermentum eu vel mi. Sed tortor lorem, placerat
        et porta sed, bibendum nec nisl. Curabitur non lacus hendrerit, hendrerit odio ac, dictum urna. In hac habitasse
        platea dictumst. Duis iaculis, sapien quis iaculis vestibulum, augue velit ullamcorper nisl, vitae bibendum
        magna dolor at dolor. Cras sed dolor eget lacus iaculis vulputate. Fusce dictum lectus eu auctor venenatis.
    </p>
{% endblock %}
